.cardUnicode 
    border: 1px solid black; 
    font-size: 100px; 
    padding-left: 100px;  
    padding-right: 100px; 
    width: 300px;
    height: 150px;
    
.centeredDiv
    position: relative
    margin: 0 auto
    display: table

.card
    margin: 20px; 
    display: inline-block    
    border: 1px solid black
    border-radius: 20px
    
.card .topBox
    width: 300px 
    padding: 10px

.card .name
    display: inline-block
    width: 200px

.card .cost    
    display: inline-block 
    border: 2px solid black 
    border-radius: 10px 
    padding-left: 10px 
    padding-right: 10px 
    width: 50px
    
.card .displayImageBox
    width: 300px
    position: relative
    background-color: black

.card .displayImage
    height: 150px;
    border: 10px solid black;

.card .bottomBox
    width: 300px; 
    padding: 5px
    
.card .rulesText
    color: gray